* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Google Sans", Arial, sans-serif;
    color: #3c4043;
}

.nav-title {
    font-size: 24px;
    color: #423f3f;
    margin: 0;
    font-family: "Google Sans", Arial, sans-serif;
}

.container {
    background: #fff;
    padding: 0 24px;
    position: relative;
    width: 100%;
    z-index: 91;
}

.container-fixed {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 15%);
    width: 100%;
}

.menu-container {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.main-nav {
    display: flex;
    flex-direction: row;
    margin: auto 0;
}

.main-menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 14px;
    margin: auto 8px;
    height: 100%;
    text-align: center;
}

.main-menu li a {
    padding: 10px;
    text-decoration: none;
    color: #423f3f;
}

.right-menu {
    display: flex;
    flex-direction: row;
    margin: auto 0;
    padding-right: 36px;
}

.price-ship-info {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: #3c4043;
    margin: auto 0;
}

.ship-text {
    color: #636060;
    font-size: 12px;
    line-height: 18px;
}

.button-div {
    margin: 5px 0;
    padding-left: 8px;
    border: none;
}

.button {
    cursor: pointer;
    font-size: 22px;
    padding: 0 45px;
    background-color: #1a73e8;
    color: #fff;
    height: 56px;
    white-space: nowrap;
    min-width: 76px;
    width: fit-content;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    margin-left: 5px;
}

ul li a {
    cursor: pointer;
}

ul li a:hover {
    background-color: #f8f9fa;
    border-radius: 40px;
    text-overflow: ellipsis;
    min-width: 48px;
    min-height: 48px;
    text-align: center;
}

ul li a:target {
    z-index: 91;
    color: #423f3f;
    font-weight: 550;
    background-color: transparent;
    box-shadow: 0 1px 4px 0 rgb(5 5 5 / 15%);
    border-radius: 40px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    background-color: #f8f9fa;
    overflow: hidden;
    margin-top: 68px;
}

.video {
    box-sizing: border-box;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#myVideo {
    margin: 24px 0;
}