* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
}

.netflix-video-container1 {
    position: relative;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.netflix-text-container1 {
    position: absolute;
    color: #fff;
    display: none;
    text-align: center;
    font-size: 2em;
    top: 0;
}

.videos-div1 {
    position: relative;
    display: flex;
    justify-content: center;
}

.frame-video-div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 50vw;
    margin-top: 0%;
    /* height: 50vh; */
}

#video-frame,
#netflix,
#youtube,
#google,
#hbo,
#hulu,
#explore {
    display: none;
}

.frame-image {
    width: 100%;
    height: 100%;
    position: absolute;
}

.shrinked-video {
    width: 100%;
    height: 100%;
}

.netflix-video1 {
    box-sizing: border-box;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    object-fit: fill;
    filter: blur(20px);
    -webkit-filter: blur(20px);
}

.frame-button-div {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 20%;
    color: #fff;
    width: 100vw;
}

.circle-button {
    /* display: none; */
    position: absolute;
    width: 3.2em;
    height: 3.2em;
    fill: none;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(0.85);
}

.circle-wrap {
    width: 3.3em;
    height: 3.3em;
    background: #fefffc;
    border-radius: 50%;
    border: 1px solid #cdcbd0;
    margin-right: 3%;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
    width: 3.3em;
    height: 3.3em;
    position: absolute;
    border-radius: 50%;
}

.mask .fill {
    clip: rect(0em, 1.65em, 3.3em, 0em);
    background-color: #2240ed;
}

.circle-wrap .circle .mask {
    clip: rect(0em, 3.3em, 3.3em, 1.65em);
}


/* .mask.full,
.circle .fill */

.run-animation {
    animation: fill ease-in-out 5.3s;
    transform: rotate(180deg);
}

@keyframes fill {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}


/* Explore button section */

.explore-button {
    z-index: 10;
    color: #fff;
    position: absolute;
    bottom: 10%;
}

.explore-button a {
    border-color: #fff;
    color: #fff !important;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    background-color: transparent;
    border: none;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    text-align: center;
    outline: none;
    font-size: medium;
    font-weight: 500;
    cursor: pointer;
    font-family: "Google Sans", "Roboto", "Arial", sans-serif;
}

.explore-button a:hover {
    border: none;
    background-color: #3c4043;
}


/* revealing when scrolling effects */


/* media query */

@media (max-width: 425px) {
    .netflix-text-container1 {
        display: inline-block;
        top: 30%;
        z-index: 90;
        font-size: 1.3rem;
        max-width: 350px;
    }
    .explore-button {
        bottom: 0%;
    }
}

@media (max-width: 767px) {
    .videos-div1 {
        justify-content: center;
        align-items: center;
    }
    .frame-button-div {
        bottom: 15%;
    }
    .explore-button {
        font-size: small;
    }
}